body {
    background: #242424;

    background: url(/img/CREATIVE_3.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* ====== ↓↓ Header ↓↓ ====== */
header {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    position: fixed;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .box-logo {
    padding: 1rem 0;
}

header .box-logo img {
    width: 6rem;
}

header .menu ul {
    display: flex;
}

header .menu li {
    padding: 0 20px;
    list-style: none;
}

header .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s ease;
    font-size: 1.5rem;
}

header .menu ul li a:hover {
    color: #156fc3;
}

/* ====== ↓↓ Home ↓↓ ====== */

.icons {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    position: fixed;
    left: 3rem;
}

.icons .icons-social {
    font-size: 2rem;
    padding: 3rem 0;
    color: #fff;
    transition: 0.5s ease;
}

.icons .icons-social:hover {
    color: #156fc3;
}

#home .title {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 60px;

    color: #fff;
    text-transform: uppercase;
}

#home .title h1 {
    font-size: 8rem;
    letter-spacing: 1rem;

    margin-right: 1rem;
}

#home .title h2 {
    letter-spacing: 3rem;
    font-size: 3rem;
    margin-left: 3rem;

    margin-right: 1rem;
}

#home .title h3 {
    font-size: 1.2rem;
    letter-spacing: 1.8rem;
    margin-top: 2rem;
    margin-left: 2rem;
}